ClienteJava/src/conf/xml-resources/web-service-references/WSOperaciones/wsdl/localhost_8080/ServicioWeb_SOAP/WSOperaciones.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="WSOperaciones">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/ServicioWeb_SOAP/WSOperaciones?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="procesarPago">
<part name="parameters" element="tns:procesarPago"/>
</message>
<message name="procesarPagoResponse">
<part name="parameters" element="tns:procesarPagoResponse"/>
</message>
<message name="loadData">
<part name="parameters" element="tns:loadData"/>
</message>
<message name="loadDataResponse">
<part name="parameters" element="tns:loadDataResponse"/>
</message>
<message name="getDataByUser">
<part name="parameters" element="tns:getDataByUser"/>
</message>
<message name="getDataByUserResponse">
<part name="parameters" element="tns:getDataByUserResponse"/>
</message>
<message name="getAllData">
<part name="parameters" element="tns:getAllData"/>
</message>
<message name="getAllDataResponse">
<part name="parameters" element="tns:getAllDataResponse"/>
</message>
<message name="setNewSaldo">
<part name="parameters" element="tns:setNewSaldo"/>
</message>
<message name="setNewSaldoResponse">
<part name="parameters" element="tns:setNewSaldoResponse"/>
</message>
<message name="doTransaction">
<part name="parameters" element="tns:doTransaction"/>
</message>
<message name="doTransactionResponse">
<part name="parameters" element="tns:doTransactionResponse"/>
</message>
<portType name="WSOperaciones">
<operation name="register">
<input wsam:Action="http://ws/WSOperaciones/register" message="tns:register"/>
</operation>
<operation name="login">
<input wsam:Action="http://ws/WSOperaciones/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws/WSOperaciones/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="procesarPago">
<input wsam:Action="http://ws/WSOperaciones/procesarPagoRequest" message="tns:procesarPago"/>
<output wsam:Action="http://ws/WSOperaciones/procesarPagoResponse" message="tns:procesarPagoResponse"/>
</operation>
<operation name="loadData">
<input wsam:Action="http://ws/WSOperaciones/loadDataRequest" message="tns:loadData"/>
<output wsam:Action="http://ws/WSOperaciones/loadDataResponse" message="tns:loadDataResponse"/>
</operation>
<operation name="getDataByUser">
<input wsam:Action="http://ws/WSOperaciones/getDataByUserRequest" message="tns:getDataByUser"/>
<output wsam:Action="http://ws/WSOperaciones/getDataByUserResponse" message="tns:getDataByUserResponse"/>
</operation>
<operation name="getAllData">
<input wsam:Action="http://ws/WSOperaciones/getAllDataRequest" message="tns:getAllData"/>
<output wsam:Action="http://ws/WSOperaciones/getAllDataResponse" message="tns:getAllDataResponse"/>
</operation>
<operation name="setNewSaldo">
<input wsam:Action="http://ws/WSOperaciones/setNewSaldoRequest" message="tns:setNewSaldo"/>
<output wsam:Action="http://ws/WSOperaciones/setNewSaldoResponse" message="tns:setNewSaldoResponse"/>
</operation>
<operation name="doTransaction">
<input wsam:Action="http://ws/WSOperaciones/doTransactionRequest" message="tns:doTransaction"/>
<output wsam:Action="http://ws/WSOperaciones/doTransactionResponse" message="tns:doTransactionResponse"/>
</operation>
</portType>
<binding name="WSOperacionesPortBinding" type="tns:WSOperaciones">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="procesarPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loadData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataByUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setNewSaldo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="doTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSOperaciones">
<port name="WSOperacionesPort" binding="tns:WSOperacionesPortBinding">
<soap:address location="http://localhost:8080/ServicioWeb_SOAP/WSOperaciones"/>
</port>
</service>
</definitions>